@use "../abstracts";

.about {
    &__intro {
        margin-top: 110px;

        @include abstracts.screen(sm) {
            margin-top: 80px;
        }

        &-top {
            max-width: 1035px;
        }

        &-desc {
            margin-top: 16px;
        }
    }

    &__media {
        margin-top: 150px;

        @include abstracts.screen(sm) {
            margin-top: 70px;
        }

        &-inner {
            position: relative;
            z-index: -1;

            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 30px 30px;

            margin-bottom: -39%;

            @include abstracts.screen(lg) {
                gap: 20px 20px;
            }

            grid-template-areas:
                "pic1 pic2"
                "pic3 pic2"
                "pic3 text";

            @include abstracts.screen(md) {
                grid-template-columns: 1fr;
                grid-template-rows: initial;
                gap: 30px;

                margin-bottom: 0;

                grid-template-areas:
                    "text"
                    "pic1"
                    "pic2"
                    "pic3";
            }

            @include abstracts.screen(sm) {
                gap: 24px;
            }
        }

        &-img {
            &:nth-child(1) {
                grid-area: pic1;
                width: 100%;
            }

            &:nth-child(2) {
                grid-area: pic2;
                width: 100%;
            }

            &:nth-child(3) {
                grid-area: pic3;
                width: 82.5%;
                margin-left: auto;

                @include abstracts.screen(md) {
                    width: 100%;
                }
            }
        }

        &-content {
            position: absolute;
            top: 45%;
            right: 0;
            width: calc(50% - 15px);
            padding: 30px 0 0 30px;

            @include abstracts.screen(lg) {
                padding: 10px 0 0 10px;
            }

            @include abstracts.screen(md) {
                position: initial;

                width: 100%;

                padding: 0;
            }
        }

        &-heading {
            @include abstracts.screen(xxl) {
                font-size: 5rem;
            }

            @include abstracts.screen(lg) {
                font-size: 3.4rem;
            }

            @include abstracts.screen(sm) {
                max-width: 320px;

                line-height: 129.412%; /* 129.412% */
            }
        }

        &-desc {
            margin-top: 16px;

            max-width: 538px;

            @include abstracts.screen(lg) {
                margin-top: 10px;
            }

            @include abstracts.screen(sm) {
                margin-bottom: 16px;

                max-width: 337px;
                font-size: 1.4rem;
            }
        }
    }

    &__vision-mission {
        margin-top: 150px;

        &-desc {
            max-width: 768px;
        }

        @include abstracts.screen(sm) {
            margin-top: 70px;
        }
    }

    &__subscribe {
        margin-top: 196px;

        @include abstracts.screen(lg) {
            margin-top: 160px;
        }

        @include abstracts.screen(sm) {
            margin-top: 70px;
            margin-bottom: -79px;
        }

        &-inner {
            display: flex;
            align-items: center;
            gap: 60px;

            @include abstracts.screen(lg) {
                gap: 20px;
            }

            @include abstracts.screen(md) {
                flex-direction: column-reverse;
                gap: 77px;
            }
        }

        &-heading {
            @include abstracts.screen(lg) {
                font-size: 3.4rem;
            }
        }

        &-desc {
            margin-top: 8px;

            @include abstracts.screen(md) {
                margin-top: 14px;
            }
        }

        &-img-wrap {
            position: relative;
            width: 43%;

            @include abstracts.screen(md) {
                width: 93.3%;
                margin-left: auto;
            }
        }

        &-img {
            width: 100%;

            object-fit: cover;
        }

        &-decor {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            translate: -50% -50%;

            @include abstracts.screen(lg) {
                width: 90px;
                height: 90px;
            }

            @include abstracts.screen(md) {
                width: 68px;
                height: 68px;
            }
        }

        &-content {
            margin-left: auto;
            width: 50%;

            @include abstracts.screen(md) {
                width: 100%;
            }
        }

        &-desc {
            max-width: 590px;
        }
    }

    &__form {
        margin-top: 120px;

        @include abstracts.screen(lg) {
            margin-top: 60px;
        }

        @include abstracts.screen(sm) {
            margin-top: 50px;
        }
    }
}

.vision-mission {
    margin-top: 60px;

    display: flex;
    align-items: center;
    gap: 30px;

    @include abstracts.screen(md) {
        flex-direction: column;
        gap: 50px;
    }

    @include abstracts.screen(lg) {
        margin-top: 50px;
    }

    &__features {
        flex-shrink: 0;
        width: calc(50% - 15px);

        @include abstracts.screen(md) {
            width: 100%;
        }
    }

    &__feature {
        display: flex;
        align-items: center;
        gap: 34px;

        @include abstracts.screen(lg) {
            gap: 30px;
        }
    }

    &__feature + &__feature {
        margin-top: 50px;

        @include abstracts.screen(lg) {
            margin-top: 30px;
        }

        @include abstracts.screen(md) {
            margin-top: 34px;
        }
    }

    &__icon-wrap {
        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 82px;
        height: 82px;

        @include abstracts.screen(lg) {
            width: 72px;
            height: 72px;
        }

        border-radius: 50%;
    }

    &__icon {
        flex-shrink: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    &__title {
        color: #fff;
        font-family: "Libre Bodoni", serif;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 141.667%; /* 141.667% */
    }

    &__desc {
        margin-top: 8px;

        max-width: 358px;

        @include abstracts.screen(sm) {
            max-width: 249px;
        }
    }

    &__img {
        flex-grow: 1;
        width: 100%;

        object-fit: cover;
    }
}
