@use "../abstracts";

.checkout-page {
    margin-top: 126px;
}

.checkout-form {
    &__payments {
        margin-top: 60px;
        padding: 28px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.07);
    }

    &__chooses {
        margin-bottom: 38px;
    }

    &__radio:checked + &__content &__desc {
        visibility: visible;
        opacity: 1;
        height: auto;
        margin-top: 24px;
    }

    &__desc {
        font-size: 1.4rem;
        line-height: 171.429%; /* 171.429% */

        transition: 0.6s;
    }

    &__content &__desc {
        visibility: hidden;
        opacity: 0;
        height: 0;

        margin-top: 0;

        max-width: 478px;
    }

    &__title {
        color: #fff;
        font-weight: 600;
        line-height: 162.5%; /* 162.5% */
    }

    &__desc-policy {
        max-width: 433px;
        font-size: 1.4rem;
        line-height: 171.429%; /* 171.429% */

        transition: 0.6s;
    }

    &__policy {
        color: #fb8f2c;
    }

    &__submit {
        margin-top: 28px;
        width: 100%;

        font-weight: 600;

        background: #fb8f2c;
    }
}

.checkout-cart {
    padding: 28px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.07);

    @include abstracts.screen(lg) {
        margin-top: 60px;
    }

    &__table {
        margin-top: 38px;

        width: 100%;
    }

    &__row {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__title {
        text-align: left;
        padding-bottom: 18px;

        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 155.556%; /* 155.556% */

        &:first-of-type {
            width: 75%;
            padding-right: 20px;

            @include abstracts.screen(xxl) {
                width: 70%;
            }

            @include abstracts.screen(lg) {
                width: 80%;
            }

            @include abstracts.screen(md) {
                width: 70%;
            }
        }

        &:last-of-type {
            width: auto;
        }
    }

    &__value {
        padding: 24px 0 18px 0;

        &:first-of-type {
            padding-right: 20px;
        }

        &:last-of-type {
            @include abstracts.screen(sm) {
                white-space: nowrap;
            }
        }

        line-height: 162.5%; /* 162.5% */
    }

    &__row:last-of-type &__value {
        padding-bottom: 0;
    }

    &__qty {
        color: #fff;
        font-weight: 600;
        line-height: inherit;
    }
}
