@use "../abstracts";

.menu {
    &__breakfast {
        margin-top: 90px;
    }

    &__lunch,
    &__dinner,
    &__starters {
        margin-top: 150px;

        @include abstracts.screen(sm) {
            margin-top: 70px;
        }
    }

    &__lunch {
        position: relative;

        &-decor {
            position: absolute;

            &:first-of-type {
                top: 0;
                right: 0;

                translate: 50% -50%;
            }

            &:last-of-type {
                bottom: 0;
                left: 0;

                translate: -150%;
            }
        }
    }

    &__top {
        margin-top: 90px;

        &-decor {
            margin-top: 4px;
        }
    }

    &__product-list {
        position: relative;

        margin-top: 60px;

        @include abstracts.screen(sm) {
            margin-top: 40px;
        }
    }

    &__row {
        --padding: 15px;

        display: flex;
        margin-right: calc(-1 * var(--padding));
        margin-left: calc(-1 * var(--padding));

        @include abstracts.screen(lg) {
            --padding: 7.5px;
        }

        @include abstracts.screen(md) {
            overflow: hidden;
        }

        @include abstracts.screen(sm) {
            margin-bottom: 30px;
        }
    }

    &__col {
        flex: 0 0 auto;
        width: 33.3333333%;
        padding: 0 var(--padding) 0 var(--padding);

        @include abstracts.screen(xxl) {
            top: 24%;
        }

        @include abstracts.screen(md) {
            flex-shrink: 0;
            width: 100%;
        }
    }

    &__btn {
        --height: 68px;

        position: absolute;
        top: 25.4%;
        left: 0;

        transform: translateX(-50%);

        @include abstracts.screen(xxl) {
            top: 24%;
        }

        @include abstracts.screen(xl) {
            --height: 60px;

            top: 21.8%;
        }

        @include abstracts.screen(lg) {
            --height: 50px;

            top: 17.8%;
        }

        &-icon {
            height: 24px;

            @include abstracts.screen(lg) {
                height: 20px;
            }

            &--reverse {
                rotate: 180deg;
            }
        }

        &--right {
            left: initial;
            right: 0;

            transform: translateX(50%);
        }
    }

    &__order {
        position: relative;
        margin-top: 150px;
        padding: 84px 0;

        @include abstracts.screen(sm) {
            margin-top: 46px;
            padding: 30px 0;
        }

        &-body {
            max-width: 770px;

            margin: 0 auto;
            padding: 46px 100px;

            background: rgba(17, 17, 20, 0.5);
            backdrop-filter: blur(2px);

            @include abstracts.screen(sm) {
                padding: 34px 26px;
            }
        }

        &-heading {
            @include abstracts.screen(md) {
                font-size: 4.5rem;
            }

            @include abstracts.screen(sm) {
                font-size: 3.4rem;
            }
        }

        &-desc {
            margin-top: 6px;

            color: #fff;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 158.333%; /* 158.333% */

            @include abstracts.screen(md) {
                font-size: 2rem;
            }

            @include abstracts.screen(sm) {
                margin-top: 18px;

                font-size: 1.8rem;
            }
        }

        &-btn {
            margin-top: 38px;
            font-weight: 600;

            background: rgba(251, 143, 44, 0.8);

            @include abstracts.screen(md) {
                margin-top: 35px;
            }

            @include abstracts.screen(sm) {
                margin-top: 54px;
            }
        }

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }
}
