@use "../abstracts";

.blog-item {
    display: flex;
    gap: 30px;

    @include abstracts.screen(lg) {
        flex-direction: column !important;
    }

    &__media {
        width: calc(50% - 15px);

        @include abstracts.screen(lg) {
            width: 100%;
        }

        &--none-shrink {
            flex-shrink: 0;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    &__time,
    &__owner {
        display: block;
        margin-bottom: 20px;

        color: #fff;
        line-height: 162.5%; /* 162.5% */

        &--margin {
            margin-top: 16px;
            margin-bottom: 0;
        }
    }

    &__owner {
        position: relative;

        margin-left: 30px;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            left: -15px;

            translate: -50%;

            width: 5px;
            height: 5px;

            border-radius: 50%;
            background: #fff;
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__heading {
        @include abstracts.screen(sm) {
            font-size: 2.4rem;
            line-height: 141.667%; /* 141.667% */
        }

        &--line-clamp {
            letter-spacing: -2px;

            display: -webkit-box;
            -webkit-line-clamp: var(--line-clamp, 2);
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include abstracts.screen(xl) {
                font-size: 3.4rem;
                line-height: 141.667%; /* 141.667% */
            }

            @include abstracts.screen(sm) {
                --line-clamp: 3;

                letter-spacing: 0;
                font-size: 2.8rem;
                line-height: 141.667%; /* 141.667% */
            }
        }
    }

    &__desc {
        max-width: 570px;
        margin-top: 20px;

        color: rgba(255, 255, 255, 0.8);
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 155.556%; /* 155.556% */

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            line-height: 171.429%; /* 171.429% */
        }
    }

    &__summary {
        margin-top: 30px;

        color: #fff;
        line-height: 162.5%; /* 162.5% */

        @include abstracts.screen(sm) {
            margin-top: 28px;
        }
    }

    &__views {
        margin-left: 111px;

        @include abstracts.make-responsive(332px) {
            margin-left: 90px;
        }
    }

    &__btn {
        margin-top: 30px;

        color: #fff;
        line-height: 162.5%; /* 162.5% */
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &--reverse {
        flex-direction: row-reverse;
    }
}
