.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 46px;
    padding: 8px 30px;

    background: var(--dark-color);

    color: var(--btn-color, inherit);
    font-size: 1.6rem;
    user-select: none;
    white-space: nowrap;

    &--text {
        background: transparent;
        border-bottom: 1px solid var(--primary-color);
        padding: 8px 3px;
    }

    &--primary-text {
        --btn-color: #fb8f2c;
    }

    &--primary {
        background: #ffb700;
    }

    &[disabled],
    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}
