.btn {
    --height: 46px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: var(--height, 46px);
    padding: 8px 30px;

    background: var(--dark-color);

    color: var(--btn-color, inherit);
    font-size: 1.6rem;
    line-height: 26px; /* 162.5% */
    user-select: none;
    white-space: nowrap;

    &--text {
        background: transparent;
        border-bottom: 1px solid var(--primary-color);
        padding: 8px 3px;

        &-white {
            border-bottom-color: #fff;
        }
    }

    &--primary-text {
        --btn-color: #fb8f2c;
    }

    &--primary {
        background: #ffb700;
    }

    &--circle {
        padding: 0;

        width: var(--height);
        border-radius: 50%;
        background: #fff;
    }

    &[disabled],
    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}

.dots {
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.6;
    background: #fff;
    transition: width 0.3s;

    &--current {
        border-radius: 4px;
        width: 18px;
        opacity: 1;
    }
}
