.feature-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    padding: 40px 0;

    background: #fb8f2c;
    overflow: hidden;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: nowrap;

    white-space: nowrap;
    color: #111114;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 110.526%; /* 110.526% */
}
