@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #fb8f2c;
    --white-color: #ffffff;
    --white-color-80: #ffffffcc;
    --dark-color: #111114;
    --dark-color-80: #111114cc;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    background: #111114;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

// Common
.heading {
    font-family: "Libre Bodoni", serif;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;

    &--lv1 {
        font-size: 11rem;
        font-weight: 700;
        line-height: 107.273%; /* 107.273% */

        // Mobile
        @include abstracts.screen(sm) {
            font-size: 3.6rem;
            line-height: 144.444%; /* 144.444% */
        }
    }

    &--lv2 {
        font-size: 6.4rem;
        line-height: 115.625%; /* 115.625% */
        letter-spacing: -1.4px;

        // Mobile
        @include abstracts.screen(sm) {
            font-size: 3.4rem;
            line-height: 144.444%; /* 144.444% */
        }
    }

    &--lv3 {
        font-size: 4rem;
        line-height: 125%; /* 125% */
    }

    &--lv4 {
        font-size: 3rem;
        line-height: 133.333%; /* 133.333% */
    }

    &--center {
        text-align: center;
    }

    &__label {
        display: block;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 1.6rem;
        line-height: 162.5%; /* 162.5% */
    }
}

.top-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
