<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Column 1 -->
            <div class="footer__column">
                <a href="./" class="logo">
                    <img
                        src="./assets/icons/logo.svg"
                        alt=""
                        class="logo__avatar"
                    />
                    <img
                        src="./assets/icons/logo-name.svg"
                        alt=""
                        class="logo__name"
                    />
                </a>

                <p class="footer__desc d-md-none">
                    Download the WowWraps app today.
                </p>

                <div class="footer__cta d-md-none">
                    <a href="#!">
                        <img
                            src="./assets/icons/app-store.svg"
                            alt=""
                            class="footer__btn"
                        />
                    </a>

                    <a href="#!">
                        <img
                            src="./assets/icons/google-play.svg"
                            alt=""
                            class="footer__btn"
                        />
                    </a>
                </div>
            </div>

            <!-- Columns 2 -->
            <div class="footer__column">
                <h3 class="footer__heading">Usefull Link</h3>

                <ul class="footer__list">
                    <li>
                        <a href="./" class="footer__link">Home</a>
                    </li>
                    <li>
                        <a href="./about.html" class="footer__link">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="./coming-soon.html" class="footer__link"
                            >Coming</a
                        >
                    </li>
                    <li>
                        <a href="./reservation.html" class="footer__link">
                            Booking
                        </a>
                    </li>
                    <li>
                        <a href="./menu.html" class="footer__link">Menu</a>
                    </li>
                </ul>
            </div>

            <!-- Columns 3 -->
            <div class="footer__column">
                <h3 class="footer__heading">Contact Info</h3>

                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">
                            Silk St, Barbican, London EC2Y 8DS, UK
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@example.com" class="footer__link">
                            info@example.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:80012345678" class="footer__link">
                            800-123-45-678
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Columns 4 -->
            <div class="footer__column">
                <h3 class="footer__heading">Follow us</h3>

                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link footer__link--under">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link footer__link--under">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link footer__link--under">
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link footer__link--under">
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Columns 5 -->
            <div class="footer__column footer__column--margin">
                <h3 class="footer__heading">Legal</h3>

                <ul class="footer__list">
                    <li>Website by uihut.com</li>
                    <li class="footer__copyright">
                        ©2022. All Rights Reserved
                    </li>
                </ul>
            </div>

            <!-- Columns 6 -->
            <div class="footer__column d-none d-md-flex">
                <div>
                    <p class="footer__desc">Download the WowWraps app today.</p>

                    <div class="footer__cta">
                        <a href="#!">
                            <img
                                src="../assets/icons/app-store.svg"
                                alt=""
                                class="footer__btn"
                            />
                        </a>

                        <a href="#!">
                            <img
                                src="../assets/icons/google-play.svg"
                                alt=""
                                class="footer__btn"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
